.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.no-overflow {
  overflow-x: hidden;
}

#pasek {
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 5px;
  height: 100vh;
}

#pasek-jest-przed-nami {
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

#pasek-jest-za-nami {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

@media all and (max-width: 575px) {
  #pasek {
    left: 33.33%;
  }

  .channel-avatar {
    width: 33.33%;
  }

  .channel-auditions {
    width: 66.67%;
  }
}

@media all and (min-width: 576px) {
  #pasek {
    left: 33.33%;
  }
}

@media all and (min-width: 992px) {
  #pasek {
    left: calc(8.33% + 45.83%);
  }
}

.channels {
  position: relative;
}

.date-range {
  border-left: 1px solid red;
  overflow-x: hidden;
}