.timeline-wrapper {
    position: relative;
    height: 32px;
    overflow: hidden;
}
.timeline-wrapper .timeline {
    position: absolute;
    top: 0;
    transition: left 0.3s;
}
.timeline-wrapper .time-item {
    position: absolute;
    left: 0;
    height: 32px;
    min-width: 120px;
    padding-left: 5px;
    border-left: 1px solid red;
}